[submodule "libmcp23s17"]
	path = deps/libmcp23s17
	url = https://github.com/piface/libmcp23s17.git
[submodule "libpifacedigital"]
	path = deps/libpifacedigital
	url = https://github.com/xaqq/libpifacedigital.git
[submodule "deps/flagset"]
	path = deps/flagset
	url = https://github.com/xaqq/flagset.git
